/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

/************* End CSS RESET **************/

/************* FONT STYLING **************/
@font-face {
    font-family: 'Avenir Book';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir'), url("font/Avenir-Book.otf") format("opentype");
}

/************* OVERALL DISPLAY **************/

.offblue { background: #EBF0F3; }
.offmint { background: #F1F3EB; }
.offcream { background: #F9F5EE; }

body {
    display: block;
	background: #FFFFFF;
	color:#3d3d3d;
    font-family: 'Avenir', sans-serif;
    line-height: 1.6;
	font-weight: 200;
	font-size: 16px;
	padding: 0 5%;
}

#page1 {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 100px auto;
    max-width: 980px;
	margin-left: auto;
	margin-right: auto;
}

.page {
    display: grid;
    row-gap: 1%;
    min-height: 100vh;
    grid-template-rows: 10% 90%;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.row1 { grid-row-start: 1; }
.row2 { grid-row-start: 2; }


header, footer {
	overflow: hidden;
}

section {
	padding: 20px 1em;
	overflow:hidden;
}

footer {
    margin-top: 20px;
}

/************* NAVIGATION BAR DISPLAY **************/

header {
    margin: auto 0;
    max-width: 980px;
}

#navbar {
    font-weight: 500;
    font-family: 'Avenir', sans-serif;
    display: grid;
    align-content: center;
    grid-auto-flow: column;
}

#navbar a {
    color: rgba(0, 0, 0, 0.5)
}

#home {
    display: grid;
    justify-content: start;
    align-content: center;
    grid-auto-flow: column;
}

#menu {
    display: grid;
    gap: 5%;
    justify-content: right;
    grid-auto-flow: column;
}

#menu a {
    padding: 1%;
    text-align: center;
    vertical-align: center;
}

#navbar a:hover {
    transition: all 0.5 ease-in;
    color: #000000;
}

/************* ABOUT PAGE STYLING **************/

#about {
    font-size: 14px;
    display: grid;
    grid-template-columns: 50% 45%;
    column-gap: 5%;
    text-align: left;
}

#img-about {
    margin: auto;
    display: block;
    
}
 
#img-about img {
    display: block;
    margin: auto;
    max-height: 75vh;
    max-width: 100%;
    
}

#about .bio {
    max-width: 400px;
}

#pfp_caption {
	color: #999999;
}

.container-left { grid-column-start: 1; }
.container-right { grid-column-start: 2; }


/************* WORKS PAGE STYLING **************/

#works {
    display: block;
}

.work-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1em;
}

.work-item img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.work-item .left {
    margin-right: 1em;
}

.work-item .right {
    margin-left: 1em;
}


/************ TYPOGRAPHY STYLING *************/

h1, h2, h3 {
    color: #000000c2;
    font-weight: 400;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

h1 {
    font-size: 180%;
}

h2 {
    font-size: 130%;
    font-weight: 600;
}

p {
	line-height:1.4em;
	margin-bottom:1em;
}

ul {
	margin-bottom:1em;
	list-style-type: none;
}

ul li {
	margin-bottom:.5em;
	margin-left: 5ch;
}

a {
    text-decoration:none;
	color:#00000088;
}

a:hover {
	transition: 0.3s all ease-in-out;
	color: rgb(56, 56, 56, 1);
	
}

#navbar a.active {
    color: rgba(0, 0, 0, 0.8);
}

/************ MEDIA QUERIES *************/

@media only screen and (min-width: 2001px) {
    #intro img {
        max-width: 1280px;
        max-height: 600px;
    }
    #page1, .page {
        max-width: 1600px;
    }

    header {
        padding: 0.5em;
        font-size: 1.3em;
        max-width: 1600px;
    }

    body {
        font-size: 1.6em;
    }
}

@media only screen and (max-width: 2000px) {
    #intro img {
        max-width: 800px;
    }
}

@media only screen and (max-width: 980px) {
    #intro img {
        max-width: 85%;
    }
    #works img {
        width: 300px;
        height: 225px;
    }
}

@media only screen and (max-width: 550px) {
    .page {
        display: grid;
    }
    footer {
        margin-top: 5ch;
    }
    #about .container-left {
        grid-row: 1;
        grid-column: 1/3;
    }
    #about .container-right {
        grid-row: 2;
        grid-column: 1/3;
    }
    #intro img {
        max-width: 90vw;
    }
    .work-item {
        display: block;
    }
}

/************ INTRO PAGE STYLING *************/

#intro {
    display: block;
    margin: auto;
}

#intro img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.align-right {
    display: flex;
    justify-content: flex-end;
}

.align-left {
    display: flex;
    justify-content: flex-start;
}

/************* SCROLLER STYLING **************/
/* Source: https://codepen.io/kowlor/pen/KKpaXLm */

#scroller {
    color: #777777;
    position: fixed;
    bottom: 0;
    padding-bottom: 2ch;
    padding-right: 8ch;
    max-height: 20%;
    font-family: 'Avenir', sans-serif;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
          align-items: center;
    -webkit-box-pack: center;
     justify-content: center;
}

#scroller p {
    text-transform: uppercase;
}

#scroller:hover {
    cursor: default;
    transition: all 0.5s ease-in;
    color: black;
}

.small {
    -webkit-animation: linear 15s rotate infinite;
            animation: linear 15s rotate infinite;
}

.medium {
    -webkit-animation: linear 30s rotate reverse infinite;
            animation: linear 30s rotate reverse infinite;
}

/************* SCROLLER ANIMATION **************/

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotateZ(0deg);
                transform: rotateZ(0deg);
    }
    to {
        -webkit-transform: rotateZ(360deg);
                transform: rotateZ(360deg);
    }
}

@keyframes rotate {
    from {
        -webkit-transform: rotateZ(0deg);
                transform: rotateZ(0deg);
    }
    to {
        -webkit-transform: rotateZ(360deg);
                transform: rotateZ(360deg);
    }
}

/************* PAGE FADE IN/OUT **************/
/* Source: https://christopheraue.net/design/fading-pages-on-load-and-unload */

#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	z-index: 999999;
	pointer-events: none;
	background: white;
    animation: 0.8s ease-in-out;
}

@keyframes fade-out {
    from { opacity: 1 }
      to { opacity: 0 }
}

@keyframes fade-in {
    from { opacity: 0 }
      to { opacity: 1 }
}

#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}

/*************** SOCIAL LINKS STYLING **************/

#social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#social-links a {
    margin-left: 1.3ch;
    margin-right: 1.3ch;
}

.svg {
    height: 25px;
    width: 25px;
}

#copyright {
    letter-spacing: 0.06em;
    color: #686868;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}

.subtext {
    font-size: 0.8em;
    font-style: italic;
    opacity: 0.5;
}

.zoom {
    transition: 0.2s ease-in;
}
.zoom:hover {
    transform: scale(1.2);
}

.shrink {
    transition: 0.2s ease-in;

}

.shrink:hover {
    transform: scale(0.97);
    overflow: hidden;
    opacity: 0.7;
}

