body {
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    width: 800px;
    padding: 2% 0% 0% 2%;
    line-height: 1.6;
    background: #ffffff;
    margin: 0 auto;
}

#mySketch {
    width: 800px;
    height: 250px;
    border: 1px solid darkgray;
}

a {
    text-decoration: none;
    color: #999999;
}

a:hover {
    transition: 0.25s ease-in-out;
    color: white;
}


header h1, header h2 {
    font-size: 200%;
    color: #333333; 
    font-family: 'Muli', sans-serif;
    line-height: 1;
    font-weight: 300;
}

section h3 {
    margin: 0% 0% 1% 0%;
    font-size: 150%;
    font-family: 'Muli', sans-serif;
    line-height: 1;
    font-weight: 300;
}

hr {
    margin: 3% 0% 3% 0%;
    border: 0.4px solid lightgray;
}

main {
    justify-content: center;
    grid-template-columns: 30ch 30ch 30ch;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    display: grid;
}

footer {
    text-align: left;
    padding: 2% 0% 5% 0%;
}

section {
    background-color: whitesmoke;
    border-radius: 4px;
    margin: 1em;
    padding: 1.6em;
}

ul {
    list-style-type: none;
    padding: 0;
}

@media only screen and (max-width: 825px) {
    main {
        overflow-x: scroll;
    }
}
